*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    width: 100%;
}
.container1{
    height: 1050px;
    color: aliceblue;
    width: 15%;
    background-color: #0D5447;
}
.container2{
    height: 100px;
    width: 85%;
}
.container2-element{
    background-color: #0D5447;
    height: 100px;
    width: 100%;
}
a{
    text-decoration: none;
}
.container1 div{
    height: 100px;
    width: 100%;
    background-color: #FFF;
}
.container1 div img{
    height: 100px;
    width: 50%;
    margin: 0 12%;
}
.container1 a{
    list-style-type: none;
}
.container1 ul li{
    color: #FFF;
    padding: 10px;
}
.container1 ul .principal{
    background-color: #fff;
    color: #0D5447;
    font-weight: bold;
    margin-top: 5px;
}

#recherche{
    height: 45px;
    width: 25%;
    margin: 25px;
    float: right;
}
.admin-img{
    margin: 250px 20% 0;
    background-color: #0D5447;
}
.admin-img h1{
    font-size: 18px;
    margin: 5px;
}
.admin-img img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.container1 i{
    margin: 10px;
}