*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    width: 100%;
}
.container1{
    height: 1050px;
    color: aliceblue;
    width: 15%;
    background-color: #0D5447;
}
.container2{
    height: 100px;
    width: 85%;
}
.container2-element{
    background-color: #0D5447;
    height: 100px;
    width: 100%;
}
a{
    text-decoration: none;
}
.container1 div{
    height: 100px;
    width: 100%;
    background-color: #FFF;
}
.container1 div img{
    height: 100px;
    width: 50%;
    margin: 0 12%;
}
.container1 a{
    list-style-type: none;
}
.container1 ul li{
    color: #FFF;
    padding: 10px;
}
.container1 ul .principal{
    background-color: #fff;
    color: #0D5447;
    font-weight: bold;
}
.container2-element2{
    width: 96%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0.1px 0.2px 3px 0.2px #0D5447;
    margin: 2%;
}
#recherche{
    height: 45px;
    width: 25%;
    margin: 25px;
    float: right;
}
.container2-element2 h3{
    padding: 30px;
    font-weight: 400;
}
.container2-element2 label{
    margin: 0.1% 0.1% 0.1% 1%;
}
.container2-element2 input{
    height: 40px;
    width: 19%;
    border: 1px solid #0D5447;
    border-radius: 5px;
}
.container2-element2 button{
    float: right;
    margin: 5% 2% 0;
    height: 55px;
    width: 10%;
    background-color: #0D5447;
    border-radius: 5px;
    border: none;
    color: white;
}
.container2-element2 button:hover{
    border: 1px solid #0D5447;
    color: #0D5447;
    font-weight: bold;
    background-color: #FFF;
}
.tableau{
    width: 95.5%;
    margin: 0 0 0 2.5%;
    height: 60px;
    background-color: #0D5447;
    display: flex;
    color: #FFF;
    justify-content: space-between;
    padding: 1% 8% 0;
}
.tableau h3{

}
input::placeholder{
    position: relative;
    left: 10px;
}
.admin-img{
    margin: 250px 20% 0;
    background-color: #0D5447;
}
.admin-img h1{
    font-size: 18px;
    margin: 5px;
}
.admin-img img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.container1 i{
    margin: 10px;
}