*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 700px;
    width: 100%;
    background-image: linear-gradient(rgba(34,34,34,0.6),rgba(34,34,34,0.6)),
    url(../agriimages/APDN.jpg);
    background-size: cover;
    align-items: center;
}
header nav{
    margin: 0 auto;
    height: 30px;
    width: 90%;
}
header nav ul{
    float: right;
    display: flex;
}
ul li a{
    border-bottom: 2px solid #11A076;
}
ul li a:hover{
    border-bottom: 1px solid #FFF;
}
ul li a{
    color: #fff;
    font-size: 1rem;
}
ul li a:hover{
    color: #11A076;
}
a{
    text-decoration: none;
}
header nav ul li {
    color: antiquewhite;
    margin: 0 20px;
    list-style-type: none;
    font-size: 1.8vh;
}
.items button{
    height: 60px;
    width: 300px;
    border: 1px solid #11A076;
    background-color: #11A076;
    border-radius: 30px;
    margin: 20px 0;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}
.items button:hover{
    background-color: #fff;
    color: #11A076;
}
header img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top: 40px;
    left: 80px;
    position: relative;
}
.items{
    float: left;
    margin: 0 80px;
}
header h1{
    text-align: center;
    font-size: 3vh;
    font-weight: 100;
    color: #fff;
    margin-top: 200px;
}
.card{
    height: 500px;
    width: 95%;
    margin: 3%;
    justify-content: center;
    display: flex;
}
.card div{
    height: 480px;
    width: 700px;
    margin: 0.5%;
}
.QSN h1{
    margin: 20px;
    font-family: cursive;
}
.QSN p{
    padding: 40px;
}
.QSN{
    padding: 30px;
    font-size: 1.5rem;
    line-height: 1.3;
}
.card div img{
    height: 450px;
    width: 600px;
    margin: 3%;
}
footer{
    display: flex;
    height: 350px;
    width: 100%;
    background-color: #0e8561;
}
.proverbe{
    height: 210px;
    width: 100%;
    background-image: linear-gradient(rgba(17, 160, 117, 0.725),rgba(17, 160, 117, 0.646)),
    url(../agriimages/capture.png);
}
.proverbe h1{
    font-size: 1.5rem;
    font-weight: 400;
    padding: 50px;
    color: #FFF;
}
footer .agrikaam{
    height: 220px;
    width: 1400px;
    margin: 70px auto;
}
.agrikaam .footLog{
    height: 150px;
    width: 1400px;
    background-color: #0e8561;
}
.footLog .footItem{
    float: right;
    height: 140px;
    display: flex;
    justify-content: space-between;
    width: 610px;
}
.footItem div{
    height: 140px;
    width: 190px;
}
.log{
    float: left;
    padding: 50px;
    color: #FFF;
}
.footItem div h1{
    font-size: 1.2rem;
    color: #FFF;
    font-weight: 100;
    padding: 20px 0;
}
.footItem div p{
    font-size: 1.1rem;
    margin: 5px;
    color: #fff;
}
.copyright{
    display: flex;
    justify-content: space-between;
}
.copyright div{
    height: 50px;
    width: 300px;
}
.copyright div p{
    padding: 20px;
    color: #FFF;
}
.copyright div i{
    font-size: 30px;
    margin: 20px;
    color: #FFF;
}